 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    overflow-x: hidden !important;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 260px; 
    position: relative;
    top: -0.5rem;
    left: -2.5rem;
}

.nav-links {
    display: flex;
    list-style-type: none;
    position: relative;
    left:5rem;
    top:0.5rem;
}

.nav-links li {
    margin: 0 28px;
    text-align: center;
}

.nav-links a {
    text-decoration: none;
    color: #080808; 
    font-size: 19px;
    font-weight: light;
    position: relative;
    display: inline-block;
}

.nav-links a:before {
    content: "+";
    display: inline-block;
    margin-right: 5px;
    transition: transform 0.3s ease; 
}

.nav-links a:hover:before {
    transform: rotate(90deg);
}

.nav-links a:hover {
    color: #24b548;
}

 .get-started .btn {
    background-color: transparent;
    color: #00796B;
    padding: 10px 20px;
    border: 2px solid #00796B;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.get-started a:before {
    content: '+';
    display: inline-block;
    transition: transform 0.3s ease;
}

.get-started a:hover:before {
    content: '+';
    display: inline-block;
    transition: transform 0.3s ease;
    transform: rotate(90deg);
}

.get-started .btn:hover {
    background-color: #00796B;
    color: white;
}

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    min-height: 100vh;
    background-color: #f9f9f9;
    position: relative;
    flex-direction: row;
}

.text-section {
    max-width: 50%;
    position: relative;
    top: -3rem;
}

.text-section h1 {
    font-size: 1rem;
    line-height: 1.2;
    color: #2B2D42;
    font-size: 65px;
}

.text-section h1 span {
    color: #00796B;
}


.image-section img {
    max-width: 750px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    position: relative;
    top: -3rem;
}

.floating-boxes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.floating-boxes .box {
    position: absolute;
    width: 80px;
    height: 80px;
    border: 2px solid #00bfa5;
    border-radius: 10px;
    opacity: 0.3;
}

.floating-boxes .box:nth-child(1) {
    top: 15vh; 
    left: 55vw;
    border: 2px solid #03f9dc;
    z-index: 1;
}

.floating-boxes .box:nth-child(2) {
    top: 40%;
    left: 45%;
    z-index: 1;
}

.floating-boxes .box:nth-child(3) {
    top: 20%;
    left: 95%;
    height: 100px;
    z-index: 1;
}


@media (max-width: 1200px) {
    .text-section {
        max-width: 60%;
    }

    .text-section h1 {
        font-size: 50px;
    }

    .image-section img {
        max-width: 350px;
    }

    .floating-boxes .box:nth-child(1) {
        left: 60vw;
    }

    .floating-boxes .box:nth-child(3) {
        left: 90vw;
    }
}

@media (max-width: 992px) {
    .top-section {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .text-section {
        max-width: 100%;
    }

    .text-section h1 {
        font-size: 40px;
    }

    .image-section img {
        max-width: 300px;
    }

    .floating-boxes .box {
        width: 70px;
        height: 70px;
    }
}

@media (max-width: 768px) {
    .nav-links li {
        margin: 0 10px;
    }

    .text-section h1 {
        font-size: 35px;
    }

    .text-section p {
        font-size: 1rem;
    }

    .image-section img {
        max-width: 250px;
    }

    .floating-boxes .box {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 576px) {
    .navbar {
        flex-direction: column;
    }

    .text-section h1 {
        font-size: 30px;
    }

    .image-section img {
        max-width: 200px;
    }

    .floating-boxes .box {
        width: 50px;
        height: 50px;
    }
}


.logo-section {
    background-color: #1E184D; 
    color: #fff;
    text-align: center;
    padding: 40px 20px;
    height: 15rem;
    position: relative;
    top: -140px;
}

.logo-section p {
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 40px;
    color: #fffffff9; 
    text-align: center;
    position: relative;
    top: 45px;
   
}



 @media (max-width: 768px) {
    .logo-container {
        gap: 20px;
    }

    .logo-section p {
        font-size: 1rem;
        padding: 0 10px;
    }
}

.left-content{
    padding: 60px 20px;
    position: relative;
    text-align: center;
    color: #333;
    top:-7rem;
    
}



.large-text {
    position: relative;
    color: #e0f5f5;
    font-size: 12rem;
    font-weight: bold;
    text-align: right;
    /* opacity: 1; */
    margin-top: 80px;
    top: -15rem;
    left: -3rem;
    z-index: 1;
}

.logo-igdtuw{
    max-width: 100%;
    position: relative;
    left: -37rem;
    right: 15px;
    height: 150px;
   

}

.sub-text {
    font-size: 2rem;
    font-weight: 400;
    color: #333;
    margin-top: -73px;
    position: relative;
    z-index: 2;
    top: -16rem;
    left: 7rem;
}

@media (max-width: 768px) {
    .large-text {
        font-size: 3rem;
    }

    .sub-text {
        font-size: 1rem;
    }
}

.container1 {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.content1 {
    max-width: 600px;
}

.content1 h1 {
    font-size: 50px;
    color: #008080;
    position: relative;
    top: -20rem;
    left: -70px;
}

.content1 ul {
    list-style-type: none;
    padding-left: 0;
    font-size: 20px;
    color: #333;
}

.content1 ul li {
    margin-bottom: 10px;
    position: relative;
    left: -60px;
    top: -18rem;
}

.content1 ul li:before {
    content: '-';
    color: #008080;
    font-weight: bold;
    display: inline-block;
    width: 1rem;
    margin-left: -1em;
}

.mockups {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
}

.mockup-img {
    width: 130%;
    height: 25rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    left: 50px;
    top: -20rem;
}

.container2 {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 40rem;
}

.mockups2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
}

.mockup-img2 {
    width: 150%;
    height: 25rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    right: 100px;
    top: -20rem;
}

.content2 {
    max-width: 600px;
}

.content2 h1 {
    font-size: 50px;
    color: #008080;
    position: relative;
    left: 170px;
    top: -20rem;
}

.content2 ul {
    list-style-type: none;
    padding-left: 0;
    font-size: 18px;
    color: #333;
}

.content2 ul li {
    margin-bottom: 10px;
    position: relative;
    left: 190px;
    top: -18rem;
}

.content2 ul li:before {
    content: '-';
    color: #008080;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1rem;
}


.action-section {
   
    background-color: #00a99d;
    padding: 60px 20px;
    text-align: center;
    color: white;
    position: relative;
    top: -10rem;
}

.overlay-text h1 {
    font-size: 5rem;
    font-weight: bolder;
    opacity: 0.3;
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    top: 30%; 
    transform: translate(-50%, -50%);
    z-index:0.3;

}

.overlay-text p {
    font-size: 24px;
    z-index: 2;
    position: relative;
    margin-bottom: 40px;
    text-align: center;
    top: 3.7rem;
}





.metrics-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* gap: 10px; */
    z-index: 2; 
    position: relative;
    top: 50px;
}

.metric-box {
    padding: 40px;
    /* border-radius: 10px; */
    width: 250px;
    /* box-shadow: 0 4px 12px #ffffff; */
    /* transition: transform 0.3s ease-in-out; */
}




.metric-box h2 {
    color: #f0f6f5;
    font-size: 48px;
    margin-bottom: 10px;
}

.metric-box p {
    font-size: 18px;
    color: #f9f7f7;
}


.slider-container {
    background-color: #2596be;
    width: 90%;
    height: 20%;
    margin: 10px auto; 
    position: relative; 
    overflow: hidden;
    box-sizing: border-box;
    overflow-y: hidden;
    border-radius: 2%;
  }
  
 
  .slide {
    display: none; 
    text-align: center;
    padding: 90px;
    /* background-repeat: no-repeat; */
  }
  

  .slide.active {
    display: block;
  }
  
 
   .sliderimg {
    width: 80px;
    height: 80px;
    /* object-fit: cover; */
    max-width: 90%;
    /* border-radius: 50%; */
    margin-bottom: 40px;
    position: relative;
    top: 3rem;
    left: 5rem;
    /* overflow: hidden;  */
    transform: scale(0.5);
    transform-origin: center;
}
   




  
  .testimonial-text {
    font-size: 29px;
    font-weight: 400;
    margin-bottom: 15px;
    color: #000000;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    left: 22rem;
    top: -7rem;
    text-align: left;

  }
  

  .author-name {
    font-size: 16px;
    color: #000000;
    margin-top: 10px;
    position: relative;
    left: 9rem;
    top: -7rem;
  }
  .tagline {
    font-size: 16px;
    color: #000000;
    margin-top: 10px;
    position: relative;
    left: 13rem;
    top: -8rem;
  }
  
  .slider-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
  }
  
  .prev, .next {
    background-color: #333;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .text {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  .news-header {
    text-align: center;
    position: relative;

    margin-bottom: 40px;
    top: 5rem;
  }
  .news-header h1 {
    font-size: 100px;
    color: #e6f1f4;
    margin: 0;
  }

  .view-all-news {
    text-align: left;
    margin-bottom: 20px;
  }
  .view-all-news a {
    text-decoration: none;
    color: #0e0f0f;
    font-weight: lighter;
    position: relative;
    top: 10rem;
  }



  .news-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    top: 10rem;
  }

  .news-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .news-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  .news-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }

  .news-card {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    width: 30%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
  }

  .news-card:hover {
    transform: scale(1.05);
  }

  .news-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .news-card-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .news-card h3 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #9c9494;
  }

  .news-card p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }

  .news-card .date {
    color: #999;
    font-size: 14px;
    margin-bottom: 10px;
  }
  @media (max-width: 768px) {
    .news-card {
      width: 100%;
    }
  }


  .container {
    width: 100vw;  
    height: 100vh; 
}

.content {
    display: flex;
    height: 70%;
    width: 120%;
    position: relative;
    top: 250px;
}

.plant-img {
    flex: 1;
    /* background-color: #08b7a6; */
    position: relative;
    left: -180px;
}


.plant-text {
    flex: 1;
    background-color: #08b7a6; 
    color: white;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    left: -180px;
    
}






.footer {
    background-color: #2c2a63;
    color: white;
    padding: 50px;
    margin: -180px;
    height: 22rem;
    /* width: 150%; */
    position: relative;
    top: 10.3rem;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.logo {
    width: 150px;
    margin-bottom: 10px;
    position: relative;
    top: 1rem;
    left: 2rem;
}



.footer-right {
    max-width: 600px;
}

.footer-right p {
    color: white;
    font-size: 16px;
    position: relative;
    left: -45rem;
    top: 2rem;
}

.footer-right a{
  color: white;
}

.footer-right span{
  padding: 50px;
  position: relative;
  top: 1rem;
  left: -60px;
  font-size: 16px;
}
.footer-right span p{
  position: relative;
  top: 1rem;
  left: 49px;
  font-size: 16px;
}


.social-media {
    margin-top: 10px;
}
.social-media p{
    position: relative;
    top: -29px;
}


.social-media i {
    color: white;
    text-decoration: none;
    margin: 0 5px;
    position: relative;
    left: -45rem;
    top: -20px;
}



.social-media a:hover {
    text-decoration: underline;
}


.horizontal-line{
    position: relative;
    top: 70px;
    
}

.bottom .left p{
    position: relative;
    top: 100px;

}

.bottom .right{
    display: flex;
    /* justify-content: space-between; */
}

.bottom .right p {
    position: relative;
    left: 74rem;
    top: 70px;
    margin: 15px;
    

}